<!DOCTYPE HTML>
<html ng-app="myApp" ng-csp >

<head>
    <title>Time Track from Browser history</title>
    <meta charset="utf-8">
    <style>
    body {
        min-width: 300px;
    }
    </style>
    <!-- // <script src="js/ru.js"></script> -->
    <script src="js/moment.js"></script>
    <script src="js/ru.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-locale_ru-ru.js"></script>


    <!-- Firebase -->
    <script src="js/firebase.js"></script>
    <!-- AngularFire -->
    <script src="js/angularfire.min.js"></script>
    <script src="oauth2/oauth2.js"></script>
    <!-- // <script src="oauth2/myauth.js"></script> -->
    <script src="js/app.js"></script>

</head>

<body>
    <h2>Work Time</h2>
    <input type="search" ng-model="q" placeholder="filter ..." />
    <hr>
    <table class="tableSection" ng-controller="MainCtrl">
        <thead ng-if="results.length != 0">
            <tr>
                <th>
                    <span class="text"></span>

                </th>
                <th>
                    <span class="text">Day</span>

                </th>
                <th>
                    <span class="text">Start</span>

                </th>
                <th>
                    <span class="text">End</span>

                </th>
                 <th>
                    <span class="text">Duration</span>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key, d) in data | orderBy : 'start' | filter:q as results" ng-animate=" 'animate' ">
                <td>[{{$index + 1}}]</td>
                <td>{{getDay(key)}}</td>
                <td>{{getTime(d.start)}}</td>
                <td>{{getTime(d.end)}}</td>
                <td>{{getDuration(d.start,d.end)}}</td>
            </tr>
        </tbody>
    </table>
</body>

</html>
